/* Fixed canvas size for deterministic rendering */
:root {
    --w: 800px;
    --h: 480px;
}

* {
    box-sizing: border-box;
}

html,
body {
    width: var(--w);
    height: var(--h);
    margin: 0;
    background: #fff;
    color: #000;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

#page {
    width: var(--w);
    height: var(--h);
    padding: 1em 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    background-color: white;
}

/* Weather styling */
#weather-data {
    width: 100%;
    flex-grow: 1;

    display: flex;
    justify-content: space-between;


}
#left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#location-name {
    font-size: 48px;
    font-weight: bolder;
}

#timestamp {
    font-size: 1em;
}

#current-title {
    font-size: 24px;
}

#current-temperature {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 2em;
}

#temperature {
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
}

#apparent {
    display: flex;
    flex-direction: column;
    text-align: end;
}

#apparent-title {
    font-size: 1.1em;
}

#apparent-temperature {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.25em;
}

#right {
    display: flex;
    flex-direction: column;
    justify-content: end;

    text-align: end;
    font-size: 1.5em;
    line-height: 1.75em;
}

.amount {
    font-weight: bold;
}